<ion-view>
    <ion-content >
        <ion-scroll >
            <div>
            <dl data-ng-repeat="i in [0,1,2,3,4]">
                <dt>discution {{i}} :{{DialogueAfficherchoix[i]["enoncer"]}}:</dt>
                <dd> {{DialogueAfficher[DialogueAfficherchoix[i]["choix"]][DialogueAfficherchoix[i]["afficher"]]}}</dd>
            </dl>
        </div>
        <div><a ui-sref="Jouer"><img src="./img/ionic.png" width="50" height="50"></a></div>


        <h1>Lyha</h1>
        <div id="dialog">


            <div class="left"><p>Ceci est un message Lyha</p></div>
            <div class="right"><p>Ceci est un autre message</p></div>
        </div>

        <!-- <footer>
            <button class="btn-green">A</button>
            <button class="btn-yellow">B</button>
            <button class="btn-red">C</button>
        </footer> -->

        </ion-scroll>
    </ion-content>
    <ion-footer-bar class="footer">
        <input type="text" id="message" class="inputfield" onkeydown="if(event.keyCode==13) send()" autofocus>
        <button id="send" class="btn-green" onclick="send()">Envoyer</button>

    </ion-footer-bar>
</ion-view>
