

<ion-view view-title="Enigme ">
    <ion-content>
        <FORM class="centrer list  item item-input-inset">
            <h3>Egnime numero :{{NBenigme}}</h3>
            <p>L'enoncer :{{Enonce}}</p>
            <h6>La reponse est :{{Reponse}}</h6>
            <label class="item-input-wrapper">
                <input type="text" id="saisie"  placeholder="votre reponse"  ng-click="this.select()" autocomplete="off" autofocus />
            </label>
                <input type="button"  value="Valider" ng-click='validation()' />
            <p >{{Resultat}}</p>
            <div><a ui-sref="Jouer"><img src="./img/ionic.png" width="50" height="50"></a></div>
        </FORM>
    </ion-content>
</ion-view>