
<ion-view view-title="Option">
    <ion-content>
        <ul class="list">

            <li class="item item-toggle">
                Son
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                option 1
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <div class="list">

                <label class="item item-input item-select">
                    <div class="input-label">
                        Langue
                    </div>
                    <select>
                        <option>anglais</option>
                        <option selected>Francais</option>
                        <option>autre</option>
                    </select>
                </label>

            </div>
        </ul>

   <div><a ui-sref="home"><img src="./img/ionic.png" width="50" height="50"></a></div>



    </ion-content>

</ion-view>