




<ion-view view-title="Jouer">
    <ion-content>

        <a ui-sref="Enigme"><button class="button button-full button-positive">Enigme</button></a>

        <div id="container">
            <ul id="nav">
                <li>Chapitre 1
                    <ul>
                        <li id="Chapitre_1"><a ui-sref="Enigme">Egnime 1.1.</a></li>
                        <li><a ui-sref="Enigme">{{Chapitre_1}}</a></li>
                        <li><a ui-sref="Enigme">Egnime 1.3</a></li>
                        <li><a ui-sref="Enigme">Egnime 1.4</a></li>
                    </ul>
                </li>
                <li>Chapitre 2
                    <ul>
                        <li><a ui-sref="Enigme">Egnime 2.1</a></li>
                        <li><a ui-sref="Enigme">Egnime 2.2</a></li>
                        <li><a ui-sref="Enigme">Egnime 2.3</a></li>
                        <li><a ui-sref="Enigme">Egnime 2.4</a></li>
                    </ul>
                </li>
                <li>Chapitre 3
                    <ul>
                        <li><a ui-sref="Enigme">Egnime 3.1</a></li>
                        <li><a ui-sref="Enigme">Egnime 3.2</a></li>
                        <li><a ui-sref="Enigme">Egnime 3.3</a></li>
                        <li><a ui-sref="Enigme">Egnime 3.4</a></li>
                    </ul>
                </li>
                <li>Chapitre 4
                    <ul>
                        <li><a ui-sref="Enigme">Egnime 4.1</a></li>
                        <li><a ui-sref="Enigme">Egnime 4.2</a></li>
                        <li><a ui-sref="Enigme">Egnime 4.3</a></li>
                        <li><a ui-sref="Enigme">Egnime 4.4</a></li>
                    </ul>
                </li>
                <li>Chapitre 5
                    <ul>
                        <li><a ui-sref="Enigme">Egnime 5.1</a></li>
                        <li><a ui-sref="Enigme">Egnime 5.2</a></li>
                        <li><a ui-sref="Enigme">Egnime 5.3</a></li>
                        <li><a ui-sref="Enigme">Egnime 5.4</a></li>
                    </ul>
                </li>
            </ul>
        </div>




        <div><a ui-sref="home"><img src="./img/ionic.png" width="50" height="50"></a></div>



    </ion-content>
</ion-view>